.heading {
    line-height: 1.5;
}

.heading.default {
    color: var(--colors-brand-east-bay);
}

.heading.primary {
    color: var(--colors-brand-medium-purple);
}

.heading.md {
    font-size: 21px;
}

.heading.sm {
    font-size: 18px;
}

.heading.xs {
    font-size: 16px;
}